body{
    background-color: deepskyblue;
}

.map-div{
   width:100%;
   height: 100%;

}

.map-div path{
    fill:red;
    stroke: bisque;
    stroke-width: 2px;
}

.map-div :hover{
    cursor: pointer;
    fill:green
}